@charset "utf-8";

#nav_container{
	position: fixed;
	background-color: green;
	height: 100vh;
	width: 10vw;
}

.background{
	height: 100vh;
	background-image: url(elements/);
	background-size: cover;
}

.kop1{
	font-size: 6vh;
}